<% provide(:title, "Contact") %>
<% provide(:header, "Contact") %>

<div class="block-white">
	<div class="container">

		<div class="row">
			<div span="span12">
				
				<h1 class="text-center">
					<a href="mailto:">increwfu@gmail.com</a>	
				</h1>

			</div>
		</div> <!-- row -->

	</div>	
</div><!-- block-white -->

