<% provide(:title, "FAQ") %>
<% provide(:header, "Frequently Asked Questions") %>

<div class="block-white">
	<div class="container">

		<div class="row">

			<div class="span6">
				<ul>
					<li>first topic</li>
				</ul>
			</div>

			<div class="span6">

				<ul class="feedback">
					<li>
						<div class="votes_block">
						</div>
						<div class="feedback_block">

							<h3>HAHHA</h3>
							<p>hohohohoho</p>

						</div>
					</li>
				</ul>

			</div>
		</div>	<!-- row -->
		
	</div>
</div>