<% provide(:title, current_user.username) %>
<% provide(:header_disabled, "Daschboard") %>

<div class="block block_light_gray">
	<div class="container">
		<%= render 'shared/user_header' %>		
	</div>
</div>

<div class="block-white">
	<div class="container">

		<div class="row">

			<%= render 'shared/user_sidebar_menu' %>

			<div class="span9">

				<% if @projects.count > 0 %>

					<ul class="project-list">
						<% @projects.each do |p| %>
							<li><%= link_to p.name, p %></li>
						<% end %>
					</ul>

				<% else %>

					<h3 style="margin-top: 0; line-height: 40px;">No project available.</h3>


				<% end %>

			</div>

		</div><!-- row -->

	</div>	
</div>