		<div class="row">
			<div class="span12">
				<h1>
					<%= link_to current_project.name, project_path(current_project), class: "head-user-name-link" %><% unless current_project.name == yield(:title) %> / <%= yield(:title) %><% end %>
<!--					<%= current_project.name %>	-->
				</h1>				
			</div>
		</div>
