			<div class="span3">
				<center><%= image_tag "icon-rental-100x100.png" %></center>
				<br>&nbsp;<br>
				<ul class="user_side_menu">
					<li><%= link_to "Back to Project Overview", current_project %></li>
					<li><%= link_to "Back to Account", current_user %></li>
				</ul>
			</div>
