				<% if current_user.admin? %>

					<h3>TODO list</h3>
					<ul>
						<li>EDIT Project Details!!!!!!!!</li>
						<li>User/Dashborg ==> Paginate "show all projects"</li>
						<li>List All Expenses for a project</li>
						<li></li>
						<li>Add Before_Filter for the Views of all Expenses,Retnatl Workinghores </li>
						<li>Add Before_Filter for View and Edit Expenses!!</li>
						<li></li>
						<li>Add info pop up</li>
						<li>Back btn to Breadcrumps</li>
						<li></li>
						<li></li>
						<li></li>
					</ul>

					<hr>

					<h3>Bugs:</h3>
					<ul>
						<li>flash message sometime won't disappear<BR>==> Seems to be a bug at Safari v6 and v7</li>
						<li></li>
					</ul>

				<% end %>
