			<div class="span3">
				<ul class="user_side_menu">
					<li><%= link_to "Add Project", new_project_path %></li>
					<li><%= link_to "Settings", edit_user_path(current_user) %></li>
				</ul>
			</div>
